<footer class="sticky-bottom">
    <div class="row m-2">
        <div class="col-8">
            <ul>
                <li class="list-inline-item mr-4">
                    <a id="footer-items" href="#">TOC</a>
                </li>
                <li class="list-inline-item">
                    <a id="footer-items" href="#">Privacy Rules</a>
                </li>
            </ul>
        </div>
        <div id="footer-cr" class="col-4 text-right pr-5">
            <span>Copyright © 2021 CSC317</span>
        </div>
    </div>
</footer>