<nav id="navbar" class="navbar navbar-expand-sm navbar-dark sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarHome" aria-controls="navbarHome" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Photo App</a>
    <div class="collapse navbar-collapse justify-content-start navbarHome">
      <a href="/postimage" id="btn-nav-newpost" class="btn active nav-item mr-sm-2" role="button" aria-pressed="true">New Post</a>
    </div>
    <div class="collapse navbar-collapse justify-content-center navbarHome mt-3">
      <form class="form-row">
        <div class="form-group col-sm-8">
          <input class="form-control mr-sm-2 pb-1 list-group-item-color" type="text" placeholder="Search" aria-label="Send">
        </div>
        <div class="form-group col-auto">
          <button class="btn btn-outline-success mr-sm-2 pb-1" type="submit">Search</button>
        </div>
      </form>
    </div>
    <div class="collapse navbar-collapse justify-content-end navbarHome">
      <a href="/registration" id="btn-nav-registration" class="btn active nav-item mr-sm-2" role="button" aria-pressed="true">Sign up</a>
      <a href="/login" id="btn-nav-login" class="btn active nav-item mr-sm-2" role="button" aria-pressed="true">Log in</a>
    </div>
  </div>
</nav>
