<div class="d-flex p-2">
    <div class="post-container">
        <h2>title</h2>
        <small><b>author</b></small>
        <small>・</small>
        <small class="text-muted">00:00</small>
        <br>
        <img src="#" class="my-3" alt="No Image">
        <ul id="form-comment" class="list-group list-group-flush">
            <li class="list-group-item list-group-item-color">
                <form class="form-row mt-2">
                    <div class="form-group col-10">
                        <input class="form-control list-group-item-color" type="text" placeholder="Write a comment" aria-label="Send">
                    </div>
                    <div class="form-group col-auto">
                        <button class="btn btn-submit" type="submit">Send</button>
                    </div>
                </form>
            </li>
            <li class="list-group-item list-group-item-color">
                <h5>Comments</h5>
            </li>
            <li class="list-group-item list-group-item-color">
                <div class="d-flex w-100 justify-content-between">
                  <small class="mb-1">username</small>
                  <small class="text-muted">00:00</small>
                </div>
                <p class="mb-1">This is a sample comment.</p>
            </li>
            <li class="list-group-item list-group-item-color">
                <div class="d-flex w-100 justify-content-center">
                    <button type="button" class="btn btn-load">Load more comment</button>
                </div>
            </li>
        </ul>
    </div>
</div>